!!!
%html(xmlns="http://www.w3.org/1999/xhtml" lang="de")
    %head
        %link(href="demo.css" rel="stylesheet" type="text/css")
        %script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js" type="text/javascript")
        %title Vue Fileupload Demo
        :javascript
            requirejs.config({
                paths: {
                    "dropzone": "https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/dropzone-amd-module",
                    "jquery": "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min",
                    "vue": "https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min",
                    "vue_fileupload": "../dist/vue_fileupload"
                }
            });
            requirejs(["vue", "vue_fileupload"], function(vue, vue_fileupload) {
                "use strict";

                new vue({
                    components: {
                        fileupload: vue_fileupload
                    },
                    data: {
                        status: 'Waiting for upload',
                        value: 'value'
                    },
                    methods: {
                        success: function(response) {
                            this.status = 'Success :)';
                            console.log('Response: ', response);
                        },
                        error: function(reason) {
                            this.status = 'Error :(';
                            console.log('Error: ', reason);
                        }
                    }
                }).$mount("#demo");
            });

    %body
        #demo(v-cloak)
            %h2 Fileupload
            %fileupload(url="/upload.php" v-bind:params="{value: value}" v-on:success="success" v-on:error="error")
                Please drag files here to upload them.
            %div
                {{status}}